{
"id2":{"serialPort":"NC","braut":115200,"powerType":"MAIN","gpio":[-1]},
"uhf":{"serialPort":"NC","braut":115200,"powerType":"MAIN","gpio":[-1],"module":""},
"r6" :{"serialPort":"/dev/rc663","braut":0,"powerType":"","gpio":[-1]},
"print":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"pasm":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":[7],"resetGpio":8},
"finger":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"dist":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"temp":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"lf1":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"lf2":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"sp433":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"scan":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[64]},
"zigbee":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"infrared":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]}
}
