{
"id2":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":[63]},
"uhf":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[64],"module":"r2k"},
"r6" :{"serialPort":"/dev/rc663","braut":0,"powerType":"","gpio":[-1]},
"print":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":[64]},
"pasm":{"serialPort":"/dev/ttyMT3","braut":115200,"powerType":"MAIN","gpio":[14],"resetGpio":44},
"finger":{"serialPort":"ttyMT2","braut":115200,"powerType":"MAIN","gpio":[64]},
"dist":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"temp":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"lf1":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[64]},
"lf2":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[64]},
"sp433":{"serialPort":"ttyMT2","braut":115200,"powerType":"MAIN","gpio":[64]},
"scan":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"MAIN","gpio":[106]},
"zigbee":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[64]},
"infrared":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"MAIN","gpio":[106]}
}
