{
"id2":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":[93]},
"uhf":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94],"module":"r2k"},
"r6" :{"serialPort":"/dev/rc663","braut":0,"powerType":"","gpio":[-1]},
"print":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":[94]},
"pasm":{"serialPort":"/dev/ttyMT3","braut":115200,"powerType":"MAIN","gpio":[96],"resetGpio":98},
"finger":{"serialPort":"ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"dist":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"temp":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"lf1":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"lf2":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"sp433":{"serialPort":"ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"scan":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"MAIN","gpio":[64]},
"zigbee":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"infrared":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"MAIN","gpio":[64]}
}
