{
"id2":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[88,7]},
"uhf":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[88],"module":"r2k"},
"r6" :{"serialPort":"/dev/rc663","braut":0,"powerType":"","gpio":[-1]},
"print":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[73,4]},
"pasm":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[88,2],"resetGpio":1},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[-1]},
"dist":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"temp":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"lf1":{"serialPort":"NA","braut":115200,"powerType":"MAIN","gpio":[-1]},
"lf2":{"serialPort":"NA","braut":115200,"powerType":"MAIN","gpio":[-1]},
"sp433":{"serialPort":"NA","braut":115200,"powerType":"MAIN","gpio":[-1]},
"scan":{"serialPort":"NA","braut":115200,"powerType":"MAIN","gpio":[-1]},
"zigbee":{"serialPort":"NA","braut":115200,"powerType":"MAIN","gpio":[-1]},
"infrared":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"MAIN","gpio":[98]}
}
