{
"id2":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"uhf":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[119],"module":"r2k"},
"r6" :{"serialPort":"/dev/rc663","braut":0,"powerType":"","gpio":[-1]},
"print":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"pasm":{"serialPort":"/dev/ttyMT3","braut":115200,"powerType":"MAIN","gpio":[121],"resetGpio":124},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[4]},
"dist":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"temp":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"lf1":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"lf2":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"sp433":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"scan":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[64]},
"ur2k":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[119]},
"zigbee":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"infrared":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]}
}
